@charset "utf-8";
/* 상단 */
.header {
  position: relative;
  display: block;
  /* margin-top:10px ; */
  width: 100%;
  height: 114px;
  z-index: 999;

  /* background-color: antiquewhite; */
}
.header_inner {
  position: relative;
  width: 100%;
  /* max-width: 1800px; */
  margin: auto;
  z-index: 1;
}
.header_top {
  display: flex;
  justify-content: space-around;
  height: 50%;
  /* margin-bottom: 10px; */
}
/* 로고 */
.header_top .logo {
  width: 200px;
  height: 100%;
}
.header_top .logo a {
  width: 100%;
  padding: 10px;
  /* height: 100%; */
}
.header_top .logo a img {
  width: 100%;
  /* height: 100%; */
  display: block;
  object-fit: cover;
  overflow: hidden;
}
/* 서브 메뉴 util */
.header_top .top_util {
  /* margin-right: 10px; */
}
.header_top .top_util .util {
  margin: 5px 0;
  display: flex;
}
.header_top .top_util .util li {
}
.header_top .top_util .util li a {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 1.8rem;
  margin-top: 10px;
}
.header_top .top_util .util li a:hover {
  text-decoration: underline;
}
/* 상단 아래쪽 */
.header_bottom {
  width: 100%;
  height: 52px;
  background-color: #168bd6;
}

.menu {
  position: relative;
  width: 100%;
  height: 100%;
}
.menu .gnb {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
}
/* .header_bottom:hover .depth2 {
      height: calc(52px + 380px);
    } */
.menu .gnb > li {
  width: calc(100% / 6);
  height: 100%;
  text-align: center;
}
.menu .gnb > li > a {
  padding: 10px 2px;
  width: 100%;
  height: 100%;
  color: #fff;
  line-height: 26px;
  font-size: 2.5rem;
}
/* depth2 */
.depth2 {
  display: none;
  width: 100%;
  height: calc(52px + 360px);
  padding: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}
.depth2 > li {
  width: 100%;
  /* height: 36px; */
  padding: 10px;
  cursor: pointer;
}
.depth2 > li:hover a {
  color: red;
}
.depth2 > li > a {
  width: 100%;
  /* height: 100%; */
  color: #fff;
  font-size: 1.9rem;
}
.mobile_header_wrap {
  width: 100%;
  height: 10.24vw;
  display: none;
  background-color: #fff;
  border-bottom: 2px solid #ddd;
}
/* 모바일용 메뉴 */
.mobile-nav{
  position: fixed;
  display: none;
  top: 0;
  left: -1000px;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  font-size: 20px;
  /* z-index: 99999999; */
}
.mobile-nav > h4{
  font-size: 3.5rem;
  padding: 10px;
}
.mobile-nav .snb{
  background-color: #168bd6;
}
.snb ul li{
  padding: 10px; 
}
.snb ul li:hover a{
  text-decoration: underline;
}
.snb ul li a{
  font-size: 2.2rem;
  color: #fff;
}
.mobile-nav .snb .mb_util{
  display: flex;
  justify-content: space-around;
}
.mobile-nav .gnb_wrap{
  height: 85%;
  overflow-y: auto;
}
.mobile-nav .gnb_wrap .gnb{
  display: flex;
  flex-direction: column;
  /* height: 2500px; */
}
.mobile-nav .gnb_wrap .gnb > li{
border-bottom: 2px solid #ddd;
}
.mobile-nav .gnb_wrap .gnb > li:hover{
  border-bottom: 2px solid #168bd6;
}
.mobile-nav .gnb_wrap .gnb > li > a{
  /* display: block; */
  /* width: 100%; */
  margin: 15px 10px;
  font-size: 2.5rem;
}
.mobile-nav .gnb_wrap .gnb > li:hover > a{
  color: #168bd6;
}
.gnb .mb_depth2{
  display: none;
  background-color: #eee;
  /* margin: 10px 0; */
  padding-bottom: 10px;
}
.gnb .mb_depth2 > li{
  margin: 0 10px;
  padding-top: 10px;
}
.gnb .mb_depth2 > li:hover > a{
  color: #168bd6;
}
.gnb .mb_depth2 > li > a{
  font-size: 2.2rem;
}
/* 닫기버튼 */
.close-menu {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .header_bottom .menu .gnb > li > a{
    font-size: 2.25rem;
  }
}
@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    height: 9.24vw;
    min-width: 50px;
  }
  .mobile_header {
    /* width: 100%; */
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: silver; */
  }
  .header_wrap {
    display: none;
  }
  .mobile_header_wrap {
    display: block;
  }
  .mb_logo {
    width: 37%;
    /* height: 100%; */
  }
  .mb_logo img {
    width: 100%;
    /* height: 100%; */
  }
  .mb_menu,
  .mb_search {
    width: 8%;
    /* background-color: aquamarine; */
  }
  .mobile_header li a img {
    width: 100%;
  }
  .mobile-nav{
    display: block;
  }
}
@media screen and (max-width : 390px){
  .mobile_header_wrap{
    padding: 10px 0;
  }
}
