@charset "utf-8";
/* 컨텐츠 및 일정 */
.content {
  padding: 5%;
  position: relative;

  width: 100%;

  background-color: #cdcdcd;
}
.content > div {
  padding: 10px;
}
.content_inner {
  position: relative;
  display: flex;
  justify-content: space-between;

  /* gap: 10px; */
}
/* 컨텐츠 왼쪽 */
.content-left {
  position: relative;

  width: 50%;
  /* background-color: #ee8100; */
}

/* 공지사항/가정통신문 */
.c {
  width: 100%;
  /* height: 23vw; */
}
.c1 {
  position: relative;
  display: flex;
}

.c1 h4 {
  width: 25%;
  height: 45px;
  margin: 0 10px;
  padding: 10px;
  text-align: center;
  font-size: 3rem;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #333;
  cursor: pointer;
  font-weight: bold;
  color: #adadad;
}
.c1 h4.on {
  background-color: #ee8100;
  color: #fff;
}
.c1 h4:first-child {
  margin-right: 0;
}
.c1 .notice2_title {
  margin-left: 0;
}
.c1 ul {
  width: 100%;
  height: 350px;
  position: absolute;
  top: 45px;
  left: 0;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: #fff;
  display: none;
}
.c1 ul.on {
  display: block;
}
/* 공지사항 */
.c1 ul li {
  width: 100%;
}
.c1 ul li:hover a span:first-child{
  text-decoration: underline;
}
.c1 ul li a {
  display: block;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: 2.5rem;
}
.notice_txt {
  display: block;
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.c1 ul li a .date {
  color: #999999;
}
/* 컨텐츠 오른쪽 */
.content-right {
  position: relative;
  width: 35%;
}
.schedule {
  position: relative;
  width: 100%;
  /* background-color: #fff; */
}
.schedule > h3 {
  width: 80%;
  font-weight: 700;
  font-size: 4rem;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 5px;
  background-color: #005195;
  text-align: center;
  padding: 9px 0;
  margin: 0 auto;
  z-index: 1;
}
.schedule_list {
  width: 100%;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 10px;
  border-top: 0;
  background-color: #566685;
}
.schedule_list li {
  padding: 15px;
}
.schedule_list li a > span:first-child {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
}
.date1 {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
.date1 span {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.3);
}
/* 컨텐츠 반응형 레이아웃 */
@media screen and (max-width: 1200px) {
  c1 ul {
    height: 340px;
  }
  .c1 h4 {
    font-size: 2.5rem;
  }
  .c1 ul li a {
    font-size: 2.25rem;
  }
  .schedule > h3 {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 1040px) {
  c1 ul {
    height: 330px;
  }
  .c1 h4 {
    font-size: 2.25rem;
  }
  .c1 ul li a {
    font-size: 1.95rem;
  }
  .schedule_list li a > span:first-child {
    font-size: 2.25rem;
  }
  .date1 span {
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 970px) {
  .c1 h4 {
    font-size: 2rem;
    padding: 10px 4px;
  }
  .c1 ul li a {
    font-size: 1.75rem;
  }
  .schedule > h3 {
    font-size: 3.2rem;
  }
}
@media screen and (max-width: 850px) {
  c1 ul {
    height: 320px;
  }
  .date1 span {
    font-size: 1.65rem;
  }
}
@media screen and (max-width: 768px) {
  .content_inner {
    flex-direction: column;
  }
  .content-left,
  .content-right {
    width: 100%;
  }
  .c1 ul {
    width: 100%;
    height: 310px;
  }
  .content_inner {
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
  }
  .content-left,
  .content-right {
    width: 100%;
  }
  .content-right {
    top: 350px;
  }
  .c1 h4 {
    font-size: 3.5rem;
  }
  .c1 ul li a {
    font-size: 2.5rem;
  }
  .schedule > h3 {
    width: 50%;
    font-size: 4rem;
  }
  .schedule_list li a > span:first-child {
    font-size: 3rem;
  }
  .date1 span {
    font-size: 2.25rem;
  }
  .content_inner {
    flex-direction: column;
  }
  .content-left,
  .content-right {
    width: 100%;
  }
  .c1 ul {
    width: 100%;
    height: 310px;
  }
  .content_inner {
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
  }
  .content-left,
  .content-right {
    width: 100%;
  }
  .content-right {
    top: 350px;
  }
  .c1 h4 {
    font-size: 3.5rem;
  }
  .c1 ul li a {
    font-size: 2.5rem;
  }
  .schedule > h3 {
    width: 50%;
    font-size: 4rem;
  }
  .schedule_list li a > span:first-child {
    font-size: 3rem;
  }
  .date1 span {
    font-size: 2.25rem;
  }
}
@media screen and (max-width: 550px) {
  .c1 h4 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 445px) {
  .c1 h4 {
    font-size: 2.6rem;
    
  }
  .c1 ul li a {
    font-size: 2rem;
  }
  .schedule > h3{
    font-size: 3.75rem;
  }
}
