@charset "utf-8";
/* 뉴스 */
/* 학교 공지사항 */
.news_inner{
    position: relative;
    padding: 50px 0;
}
.news_title h2{
    font-size: 4rem;
    /* margin-bottom: 10px; */
    font-weight: 700;
    padding: 0 10px;
}
.news_title::after{
    content: "";
    display: block;
    width: 70px;
    border-bottom: 3px solid red;
    margin-bottom: 10px;
    margin: 15px 10px;
}
.school_news .news_img img{
    width: 100%;
}
.school_news .news_text p:first-child{
    margin: 15px 0;
font-size: 2.5rem;
font-weight: 700;
}
.school_news .news_text p:last-child{
    font-size: 2.5rem;
    color: rgba(0, 0, 0, .5);
}