@charset "utf-8";
.cs {
    position: relative;
  width: 100%;
  padding: 50px 0;
  background-color: #cdcdcd;
}
.cs_nav {
    display: flex;
justify-content: space-around;
  width: 100%;
}
.cs_nav  li {
  width: calc(100% / 3);
}
.cs_nav  li a {
    width: 100%;
}
.cs_nav  li a p{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
}

.cs_nav .cs_img{
    width: 50%;
    margin: 0 auto;
    overflow: cover;
    margin-bottom: 20px;
}
.cs_nav .cs_img img {
  width: 100%;
}
