@charset "utf-8";
.footer{
    position: relative;
    width: 100%;
    font-size: 2rem;
}
.footer_inner{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px 10px;
}
.footer_nav ul{
    width: 100%;
    display: flex;
}
.footer_nav ul li{
    /* width: calc(100% / 5); */
    padding: 0px 20px;
    border-right: 1px solid #cdcdcd;
    text-align: center;
}
.footer_nav ul li:first-child{
    padding-left: 0;
}
.footer_nav ul li:first-child a{
    color: #168BD6;
}
.footer_nav ul li:last-child{
    border: 0;
}
.footer_info{
    display: flex;
    gap: 60px;
}
.footer_info, .copylighter{
    color: rgba(0, 0, 0, .3);
}
@media screen and (max-width: 910px){
    .footer{
        font-size: 1.8rem;
    }
    .footer_info{
        flex-direction: column;
        gap: 20px;
    }
}
@media screen and (max-width: 768px){
    .footer{
        font-size: 14px;
    }
    .footer_inner{
        padding-left: 10px;
    }
    .footer_nav ul{
        flex-wrap: wrap;
    }
    .footer_nav ul li{
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 390px){
    .footer{
        font-size: 12px;
    }
    .footer_inner{
        gap: 15px;
    }
    .footer_info{
        gap: 10px;
    }
}