@charset "utf-8";
/* css 분할 */
@import url("a_header.css");
@import url("b_visual.css");
@import url("c_content.css");
@import url("d_news.css");
@import url("e_cs.css");
@import url("f_footer.css");
/* 구글폰트 */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Poiret+One&display=swap");
/* 공통 영역 요소 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
  color: #333;
}
html {
  font-size: 8px;
}
body {
  font-family: "Noto Sans KR", serif;
}
/* 전체 레이아웃 */
.wrap {
  margin: 0 auto;
}
/* 공통영역 */
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 6px;
  }
}
