@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Poiret+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
  color: #333;
}
body {
  font-family: "Noto Sans KR", serif;
  /* background-color: #cdcdcd; */
}
/* 전체 레이아웃 */
.wrap{
  /* max-width: 1400px; */
margin: 0 auto;
}
/* 공통영역 */
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
  /* background-color: silver; */
}
/* 상단 */
.header {
  position: relative;
  display: block;
  /* margin-top:10px ; */
  width: 100%;
  height: 114px;
  z-index: 999;
  
  /* background-color: antiquewhite; */
}
.header_inner {
  position: relative;
  width: 100%;
  /* max-width: 1800px; */
  margin: auto;
  z-index: 1;
  
}
.header_top {
  display: flex;
  justify-content: space-around;
  height: 50%;
  /* margin-bottom: 10px; */
}
/* 로고 */
.header_top .logo {
  width: 200px;
  height: 100%;
}
.header_top .logo a {
  width: 100%;
  padding: 10px;
  /* height: 100%; */
}
.header_top .logo a img {
  width: 100%;
  /* height: 100%; */
  display: block;
  object-fit: cover;
  overflow: hidden;
}
/* 서브 메뉴 util */
.header_top .top_util {
  /* margin-right: 10px; */
}
.header_top .top_util .util {
  margin: 5px 0;
  display: flex;
}
.header_top .top_util .util li {
}
.header_top .top_util .util li a {
  width: 100%;
  height: 100%;
  padding: 10px;
  margin-top: 10px;
}
.header_top .top_util .util li a:hover {
  text-decoration: underline;
}
/* 상단 아래쪽 */
.header_bottom {
  width: 100%;
  height: 52px;
  background-color: #168BD6;
  
}

.menu {
  position: relative;
  width: 100%;
  height: 100%;
  
}
.menu .gnb {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  
}
/* .header_bottom:hover .depth2 {
    height: calc(52px + 380px);
  } */
.menu .gnb > li {
  width: calc(100% / 6);
  height: 100%;
  text-align: center;
}
.menu .gnb > li > a {
  padding: 10px 2px;
  width: 100%;
  height: 100%;
  color: #fff;
  line-height: 26px;
  font-size: 19px;
  
}
/* depth2 */
.depth2 {
  display: none;
  width: 100%;
  height: calc(52px + 360px);
  padding: 10px;
  text-align: center;
background-color: rgba(0, 0, 0, .7);
}
.depth2 > li {
  width: 100%;
 /* height: 36px; */
  padding: 10px;
  
}
.depth2 > li > a {
  width: 100%;
  /* height: 100%; */
  color: #fff;
  font-size: 16px;
}
/* 비주얼 */
.visual{
  width: 100%;
}
.daegun_banner{
  display: block;
  position: relative;
  width: 100%;
  height: 31.45vw;
  overflow: hidden;
}
.daegun_banner .swiper-slide{
  position: relative;
  width: 100%;
  height: 100%;
}
.daegun_banner .swiper-slide img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  /* display: block; */
  width: 100%;
  /* object-fit: cover; */
  
}
.daegun_banner .banner_txt{
  position: absolute;
  top: 5%;
  left: 5%;
}
.banner_txt p{
  font-size: 30px;
  line-height: 1.4;
  font-weight: bold;
  color: #386895;
}
/* 컨텐츠 및 일정 */
.content{
  padding: 50px;
  position: relative;
  /* display: flex; */
  width: 100%;
  /* height: 500px; */
  background-color: #ededed;
}
.content > div{
  padding: 10px;
}
.content_inner{
  position: relative;
  display: flex;
  justify-content: space-around;
 
  /* gap: 10px; */
}
/* 컨텐츠 왼쪽 */
.content-left{
  position: relative;
  
  width: 50%;
  /* background-color: #ee8100; */
 
}

/* 공지사항/가정통신문 */
.c{
  width: 100%;
  /* height: 23vw; */
}
.c1{
  position: relative;
  display: flex;
}

.c1 h4 {
  width: 20%;
  height: 45px;
  margin:0 10px;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #333;
  cursor: pointer;
  font-weight: bold;
  color: #adadad;
}
.c1 h4.on {
  background-color: #ee8100;
  color: #fff;
}
.c1 h4:first-child{
  margin-right: 0;
}
.c1 .notice2_title{
  margin-left: 0;
}
.c1 ul{
  width: 100%;
  position: absolute;
  top: 42px;
  left: 0;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, .5);
  border-radius: 10px;
  background-color: #fff;
  display: none;
}
.c1 ul.on{
  display: block;
}
/* 공지사항 */
.c1 ul li{
  width: 100%;
}
.c1 ul li a{
  display: block;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: 20px;
}
.notice_txt{
  display: block;
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.c1 ul li a .date{
  color: #999999;
}
/* 컨텐츠 오른쪽 */
.content-right{
  position: relative;
  width: 30%;
}
.schedule{
  position: relative;
  width: 100%;
  /* background-color: #fff; */
}
.schedule > h3{
  width: 80%;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 5px;
  background-color: #005195;
  text-align: center;
  padding: 9px 0;
  margin: 0 auto;
  z-index: 1;
}
.schedule_list{
width: 100%;
border: 2px solid #fff;
border-radius: 10px;
border-top: 0;
  background-color: #566685;
  
}
.schedule_list li{
  padding: 15px;
}
.schedule_list li a > span:first-child {
font-size: 20px;
font-weight: bold;
color: #fff;
}
.date1{
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
.date1 span{
  font-size: 16px;
  color: rgba(255, 255, 255, .3);
}
