@charset "utf-8";
.visual{
    width: 100%;
  }
  .daegun_banner{
    display: block;
    position: relative;
    width: 100%;
    height: 31.45vw;
    overflow: hidden;
  }
  .daegun_banner .swiper-slide{
    position: relative;
    width: 100%;
    height: 100%;
  }
  .daegun_banner .swiper-slide:first-child{
    display: none;
  }
  .daegun_banner .swiper-slide img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    /* display: block; */
    width: 100%;
    /* object-fit: cover; */
    
  }
  .daegun_banner .banner_txt{
    position: absolute;
    top: 5%;
    left: 5%;
  }
  .banner_txt p{
    font-size: 4rem;
    /* text-shadow: white; */
    line-height: 1.4;
    font-weight: bold;
    color: #386895;
  }
  @media screen and (max-width: 1250px){
    .daegun_banner{
      display: block;
      position: relative;
      width: 100%;
      height: 36.45vw;
      overflow: hidden;
    }
  }
  @media screen and (max-width: 1100px){
    .daegun_banner{
      display: block;
      position: relative;
      width: 100%;
      height: 41.45vw;
      overflow: hidden;
  }
}
  @media screen and (max-width: 768px){
    .daegun_banner{
      display: block;
      position: relative;
      width: 100%;
      height: 60.45vw;
      overflow: hidden;
    }
   
  }
  @media screen and (max-width: 550px){
    .daegun_banner{
      height: 60.45vw;
    }
    .banner_txt p{
      font-size: 3.2rem
    }
  }