@charset "utf-8";
.visual{
    width: 100%;
  }
  .daegun_banner{
    display: block;
    position: relative;
    width: 100%;
    height: 31.45vw;
    overflow: hidden;
  }
  .daegun_banner .swiper-slide{
    position: relative;
    width: 100%;
    height: 100%;
  }
  .daegun_banner .swiper-slide img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    /* display: block; */
    width: 100%;
    /* object-fit: cover; */
    
  }
  .daegun_banner .banner_txt{
    position: absolute;
    top: 5%;
    left: 5%;
  }
  .banner_txt p{
    font-size: 30px;
    line-height: 1.4;
    font-weight: bold;
    color: #386895;
  }